<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="RestAssured Training" >

    <!--<test name="Traverse Json Response in Loop">
        <classes>
            <class name="com.nickb.restassured.testcases.TraverseJsonTest"/>
        </classes>
    </test>
    <test name="Call MasterPlaylistTest From Vmap Converted To Json">
        <classes>
            <class name="com.nickb.restassured.testcases.CallMasterPlaylistFromVmapConvertedToJsonTest"/>
        </classes>
    </test>

    <test name="Call MasterPlaylist from Json Test">
        <classes>
            <class name="com.nickb.restassured.testcases.CallMasterPlaylistFromJsonTest"/>
        </classes>
    </test>

    <test name="Simple POST Request Test">
        <classes>
            <class name="com.nickb.restassured.testcases.ServiceMediaPostRequestTest"/>
        </classes>
    </test>

    <test name="Simple GET Request Test">
        <classes>
            <class name="com.nickb.restassured.testcases.CallNikaJsonTest"/>
        </classes>
    </test>-->

    <test name="Books">
        <classes>
            <class name="com.nickb.restassured.testcases.library_api.DynamicJsonTest"/>
        </classes>
    </test>

</suite>